/* 
    Created on  : 15-nov-2018, 18:48:12
    Author      : Amor Rodríguez Navarro
    File        : reset.css
    Description : Resetear los estilos
*/

/* *{ */
	/* border: 10px; */
	
/* } */

*{
  margin: 10px;
}



