
/* 
    Created on  : 4-12-2018
    Author      : 
    File        : reset.css
    Description : Resetear los estilos
*/




#table1{
    max-width: 800px;
   margin-left: 25%;
}

#table2{
    max-width: 800px;
   margin-left: 25%;
}

#table3{
    max-width: 800px;
   margin-left: 25%;
}