

*{
	font-family: 'Permanent Marker', cursive;
	
}
body{
	margin:auto;
	width: 40%;
}

h1{
	margin-top:30px;
	width: 70%;
	background-color:#AF4A94;
	padding-left:10px;
}

h2{
	text-align:center;
	width: 28%;
	background-color:black;
	color:yellow;
}

th{
	background-color:#D48D1A;
}

td{
	background-color:#ACDED9;
}