
*{
	font-family: 'Permanent Marker', cursive;
	
}
body{
	margin:auto;
	width: 40%;
}

table{
	width:100%;
}

.encabezado{
	background-color: #387ab6;
	color:#fff;
}
.th{
	background-color: #387ab6;
	color:#fff;
	
	
}

.matricula{
	width:50%;
	t
}


